<html>
	<head>
		<title>Hello</title>
		<link href = https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css>
	</head>
	<body>
		<div id='box'>
		<div class='heading'>Login</div>
		<div class='input-box'>
			<label>Email</label>
			<input type='email'class='input'>
		</div>
		<div class='input-box'>
			<label>password</label>
			<input type='password'class='input'>
		</div>
		<div class='input-box'>
			<input type='submit' value='logic'class='btn'>
		</div>
	</div>
</body>
</html>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		