<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
	</head>
	<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="#">Class</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reg">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views">View Users</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
<!--flash message function-->
<!--{% with messages=get_flashed_messages(with_categories=true) %}
			{% if messages %}
			  {% for category,message in messages %}
				<div class="alert alert-{{category}} alert-dismissible fade show">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <strong>{{message}}</strong>
				</div>
				  {% endfor %}
			{% endif %}
		{% endwith %}
		-->
	{% block body %}

	{% endblock %}
		
	</body>
</html>
