{% extends '_layout.html' %}
{% block body %}
		<div class='container'>
			<div class='row'>
				<div class='col-md-6 mx-auto'>
					<h1 class='text-success' style='margin-top:150px'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Grate University</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
				</div>
			</div>
		</div>
{% endblock %}