<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR ONLINE FOOD ORDERING</title>

    <style>
    body{
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .landing{
        background-image: url('/static/uploads/4.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height:100vh;
        color:white;
    }
    </style>
</head>

<body>

    <div class="landing">
        <header>
            <a href="index.html" id="logo">JR ONLINE FOOD ORDERING</a>

            <nav>
                <a href="#menuheading">Menu</a>
                <a href="#locheading">Locations</a>
                <a href="#game">Game</a>
                <a href="#food">Order Food</a>
                <a href="#food">Return Option</a>
            </nav>
        </header>
    </div>
<body>
    <div class="color">
        <span class="a">DEVM5</span>
        <span class="b">Home</span>
        <span class="b">Live Demo</span>
        <span class="b">Live Demo Blocks</span>
        <span class="c">Live Demo</span>
        <span class="d">Buy Now</span>
    </div>
    <div>
        <p class="m">DevM5 Theme</p>
        <p class="p">DevM5 is a theme for programming language portal,app developers,mobile development,software company, web development,creative agency,web development framework,design agency,programmer.
        </p>
        <div class="img">
            <img src="images/img1.jpg" width="500px">
        </div>
    </div>
    <div>
        <span class="btn">Live Demo</span>
        <span class="btn1">Buy Now</span>
    </div>
    
</body>

</body>
</html>